body{
	width: 100%; height: 100vh;
	padding: 4em;
	background-color: blueviolet;
}

.teams-icon {
    display: inline-flex;
    position: fixed; /* Fixed positioning relative to the viewport */
    bottom: 5%; /* 5% from the bottom */
    left: 5%; /* 5% from the left */
    background-image: url(./pokemon-icon.png);
    width: 60px;
    height: 60px;
    background-size: contain;
    background-repeat: no-repeat;
}

#cart-count {
    background-color: #ff5733; /* Background color of the circle */
    color: white; /* Text color */
    border-radius: 50%; /* Make it a circle */
    padding: 5px 10px; /* Adjust padding for your desired size */
    position: absolute;
    top: -10px; /* Adjust vertical position */
    right: -7px; /* Adjust horizontal position */
    font-size: 12px; /* Adjust font size */
}
