/* ----  SEARCH & FIND PAGE ----- */

main {
	width: 100%;
}

#searchPage {
	padding: 10em, 10em;
}

/* ----- SEARCH BAR ----- */

.search-form {
	transform: translate(-10%, -50%);
	transition: all 0.7s;
	width: 50px;
	height: 50px;
	background: white;
	box-sizing: border-box;
	border-radius: 25px;
	border: 4px solid white;
	padding: 5px;
}

.search-container {
	padding-top: 3em;
	width: 100%;
	display: flex;
	justify-content: center;
}

.search-form > input {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 42.5px;
	line-height: 30px;
	outline: 0;
	border: 0;
	display: none;
	font-size: 1em;
	border-radius: 20px;
	padding: 0 20px;
}

.fa {
	box-sizing: border-box;
	padding: 10px;
	width: 42.5px;
	height: 42.5px;
	position: absolute;
	bottom: 0;
	right: 0;
	border-radius: 50%;
	color: #07051a;
	text-align: center;
	font-size: 1.2em;
	transition: all 1s;
}

.search-form:hover,
.search-form:valid {
	width: 220px;
	cursor: pointer;
}

.search-form:hover input,
.search-form:valid input {
	display: block;
}

.search-form:hover .fa,
.search-form:valid .fa {
	background: #07051a;
	color: white;
}

a {
	display: none;
	position: absolute;
	top: 70px;
	bottom: 0;
	left: 0;
	right: 0;
	font-size: 20px;
	color: white;
	text-align: center;
	width: 100%;
}

.search-form:valid a {
	display: block;
}

/* ---- POKEMON GRID ----- */

#pokeList {
	padding-inline-start: 0;
	display: grid;
	justify-content: center;
	align-items: center;
	grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
	grid-gap: 1em;
	margin-left: 2em;
	margin-right: 2em;
	padding-top: 2em;
	/* padding-bottom: 10em; */
}

.poke-container {
	padding: 3em, 3em, 3em, 3em;
	margin: 0 auto;
}

/* ----- POKèCARDS ----- */
.card {
	padding: 1em;
	background-color: white;
	list-style: none;
	text-align: center;
	border-radius: 10px;
}

.card-image {
	height: 180px;
}

.card-title {
	text-transform: uppercase;
	font-size: 32px;
	font-weight: normal;
}

.card-subtitle {
	font-weight: lighter;
	color: grey;
	margin-top: 4px;
}

/* ----- BUTTON ----- */

.card-btn {
	margin-top: 1em;
	background: orangered;
	border: 1px solid #ff4742;
	border-radius: 6px;
	box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
	box-sizing: border-box;
	color: #ffffff;
	cursor: pointer;
	display: inline-block;
	font-family: nunito, roboto, proxima-nova, "proxima nova", sans-serif;
	font-size: 16px;
	font-weight: 800;
	line-height: 16px;
	min-height: 40px;
	outline: 0;
	padding: 12px 14px;
	text-align: center;
	text-rendering: geometricprecision;
	text-transform: none;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
}

.card-btn:hover,
.card-btn:active {
	background-color: initial;
	background-position: 0 0;
	color: orangered;
}

.card-btn:active {
	opacity: 0.5;
}

/* ---- POKè BALL ---- */

.teams-icon {
	display: inline-flex;
    position: fixed;
    bottom: 4%;
    left: 3%;
	background-image: url(./pokemon-icon.png);
	width: 70px;
	height: 70px;
	background-size: contain;
	background-repeat: no-repeat;
	transition: transform 0.3s;
}

.teams-icon:hover {
	transform: scale(1.5);
	opacity: 0.8;
}

/* ADD POKEMON EFFECT */
.teams-icon.added-to-cart {
	transform: scale(1.5);
	opacity: 0.8;
	transition: transform 0.3s;
}
/* THE SMALL COUNTER  */
#count {
	background-color: #00e1ff;
	color: white;
	border-radius: 50%;
	padding: 5px 10px;
	position: absolute;
	top: -5px;
    left: 45px;
	font-size: 12px;
}

/* ----  TEAM MANAGER PAGE ----- */

#teamPage {
	height: 50vh;

}
/* CONTAINER */
.manager {
	display: flex;
	flex-direction: column;
	width: 100%;
	padding: 4em;
	justify-content: space-around;
	background-color: rgb(54, 54, 54);
}

/* TILTE */
.manager>h1,
h4,
p {
	color: white;
	text-align: center;
}

.manager>h4 {
	color: red;
}

/* FIGHT CARD OF POKEMONS  */
.slot-container {
	padding-top: 2em;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	grid-gap: 1em;
}

.slot {
	background-image: url(./poke-slot.png);
	background-repeat: no-repeat;
	background-size: contain;
	width: 220px;
	height: 220px;
	border: 5px dashed lightgray;
}

.hide {
	display: none;
}

/* --- RESERV LIST --- */


#teamPokeList {
padding-inline-start: 0;
	display: grid;
	justify-content: center;
	align-items: center;
	grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
	grid-gap: 1em;
	margin-left: 2em;
	margin-right: 2em;
	padding-top: 2em;
}


/* KICK BUTTON */

.kick-btn {
	margin-top: 1em;
	background: rgb(159, 159, 159);
	border: 1px solid #f5f5f5;
	border-radius: 6px;
	box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
	box-sizing: border-box;
	color: #ffffff;
	cursor: pointer;
	display: inline-block;
	font-family: nunito, roboto, proxima-nova, "proxima nova", sans-serif;
	font-size: 16px;
	font-weight: 800;
	line-height: 16px;
	min-height: 40px;
	outline: 0;
	padding: 12px 14px;
	text-align: center;
	text-rendering: geometricprecision;
	text-transform: none;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
}

.kick-btn:hover,
.kick-btn:active {
	background-color: orangered;
	background-position: 0 0;
	color: rgb(255, 255, 255);
}

.kick-btn:active {
	opacity: 0.5;
}

.team-pokemon{
	padding: 1em;
	background-color: white;
	list-style: none;
	text-align: center;
	border-radius: 10px;
}

.card {
	padding: 1em;
	background-color: white;
	list-style: none;
	text-align: center;
	border-radius: 10px;
}

.card-image {
	height: 180px;
}

.card-title {
	text-transform: uppercase;
	font-size: 32px;
	font-weight: normal;
}

.card-subtitle {
	font-weight: lighter;
	color: grey;
	margin-top: 4px;
}


.card-form{
	margin-top: 10px;
	width:100%;

}

input.card-input {
	padding: 0.5em;
	text-align: center;
	border: #f5f5f5;
	background-color: rgb(240, 240, 240);
	border-radius: 10px;

}

input > .card-input::after {
	border: 1px solid orangered;


}





.change-btn{
	margin-top: 1em;
	background: orangered;
	border: 1px solid #f5f5f5;
	border-radius: 3px;
	box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
	box-sizing: border-box;
	color: #ffffff;
	cursor: pointer;
	display: inline-block;
	font-family: nunito, roboto, proxima-nova, "proxima nova", sans-serif;
	font-size: 16px;
	font-weight: 800;
	line-height: 16px;
	min-height: 40px;
	outline: 0;
	padding: 12px 14px;
	text-align: center;
	text-rendering: geometricprecision;
	text-transform: none;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
}


.change-btn:hover {
	background:white;
	color: orangered;
}