@font-face {
	font-family: PokemonTitle;
	src: url(PokemonFont.ttf);
}

* {
	box-sizing: border-box;
	margin: 0;
}

body {
	background-color: orangered;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


/* ----- HEADER / NAV MENU ----- */
header{
	background-color: #333;
    color: #fff;
    padding: 10px 0;
    position: sticky;
    top: 0;
    z-index: 100;
	box-shadow: 0 -14px 10px 15px rgba(0,0,0,0.5);
	}

.topnav {
	display: inline;
	overflow: sticky;
}

.topnav h1 {
	text-align: center;
	/* margin-bottom: 1em;  LÄGG TILL VID MOBIL ANPASSNING*/
}

.topnav btn {
	float: right;
	color: #ffffff;
	text-align: center;
	padding: 1em 3em;
	text-decoration: none;
	font-size: 17px;
}

.topnav btn:hover {
	background-color: #ddd;
	color: black;
}

.topnav btn.active {
	background-color: #04AA6D;
	color: white;
}



main {
	width: 100%;
}

/* ----- POKèCARDS CONTAINER ----- */
#pokeList {
	padding-inline-start: 0;
	display: grid;
	justify-content: center;
	align-items: center;
	grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
	grid-gap: 1em;
}

.poke-container {
	padding: 3em;
	margin: 0 auto;
}

/* ----- POKèCARDS ----- */
.card {
	padding: 1em;
	background-color: white;
	list-style: none;
	text-align: center;
	border-radius: 10px;
}



.card-image {
	height: 180px;
}

.card-title {
	text-transform: uppercase;
	font-size: 32px;
	font-weight: normal;
}

.card-subtitle {
	font-weight: lighter;
	color: grey;
	margin-top: 4px;
}

/* ----- BUTTON ----- */

.card-btn {
	margin-top: 1em;
	background: orangered;
	border: 1px solid #FF4742;
	border-radius: 6px;
	box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
	box-sizing: border-box;
	color: #FFFFFF;
	cursor: pointer;
	display: inline-block;
	font-family: nunito, roboto, proxima-nova, "proxima nova", sans-serif;
	font-size: 16px;
	font-weight: 800;
	line-height: 16px;
	min-height: 40px;
	outline: 0;
	padding: 12px 14px;
	text-align: center;
	text-rendering: geometricprecision;
	text-transform: none;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
}

.card-btn:hover,
.card-btn:active {
	background-color: initial;
	background-position: 0 0;
	color: orangered;
}

.card-btn:active {
	opacity: .5;
}



.corner{
	width: 100px; height: 100px;
	position: sticky;
	bottom: 5%;
	right: 20%;
	transform: translate(-50%,-50%);
}



